{% extends 'base.html.twig' %}

{% block body %}
    <h1>Score</h1>

    <table>
        <tbody>
            <tr>
                <th>Points</th>
                <td>{{ score.points }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if score.createdAt %}{{ score.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ score.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('score_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('score_edit', { 'id': score.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
